@charset "utf-8";

header {
    background-color: #003333;
    border-bottom: 2px solid #669999;
}

header h1 a {
    max-width: 300;
    color: #FFE3AA;
    text-decoration: none;
}

nav {
  display: none;
  float: none;
  background-color: #003333;
  width: auto;
  padding: 0;
}

nav ul {
  padding: 0;
  text-align: center;
}

nav li {
  display: inline-block;
  width: 100px;
  font-size: 110%;
  text-align: center;
  background-color: #162955;
  border: 3px solid #407F7F; 
  margin: 1%;
  padding: 15px;
}

nav a {
  color: #FFF;
  font-family: Tahoma, Verdana, Segoe, sans-serif; 
  text-decoration: none;
}

nav a:hover {
  background-color: #552700;
}

body {
    font-family: Tahoma, Verdana, Segoe, sans-serif; 
    background-color: #061539;
    color: #fff;
}

#navBtn {
  display: block;
  position: fixed; /* Fixed/sticky position */
  top: 30px; /* Place the button at the top of the page */
  right: 10px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #552700; /* Set a background color */
  color: #FFF; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#navBtn:hover {
  background-color: #AA6C39; /* Background on hover */
}

.main {
    margin-left: 10px;
}

h1 { 
    font-family: Tahoma, Verdana, Segoe, sans-serif; 
    font-size: 34px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 34px;
    color: #FFE3AA;
}

p { 
    font-family: Tahoma, Verdana, Segoe, sans-serif; 
    font-size: 16px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 20px;
    color: #fff;
}

footer p {
    margin-left: 15px;
    font-size: 12px;
}
